<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REC Placements</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <section class="container">
        <button class="menu" id="menuButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16" style="transform: rotate(180deg);">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 0 0 1-1.506 0z"></path>
            </svg>
        </button>
        <div id="dropdownMenu" class="dropdown-menu">
            <center>
            <a style= "border-bottom: 1px solid white;" href="/"> Home </a>
            <a style= "border-bottom: 1px solid white;" href="about.html"> About Us </a>
            <a style= "border-bottom: 1px solid white;" href="feedback.html"> Feedback </a>
            <a style= "border-bottom: 1px solid white;" href="contact.html"> Contact Us </a>
        </center>
        </div>
        <header>    
            <a href="/static/REC.jpg"><img src="/static/REC.jpg" alt="REC Placements"></a>
        </header>
        <center>
        <h1>REC Placements!</h1>
        </center>
        <nav class="navigation">
            <center>
                <div class="Details"><a href="/log" class="no-style" target="_blank">Placement Details</a></div>
                <div class="Details"><a href="/resume" class="no-style">Resume Analysis</a></div>
                <div class="Details">Placement Prediction</div>
                <div class="Details"><a href="/skillc" class="no-style">Skill Scores</a></div>
                <div class="Details"><a href="/company" class="no-style">Companies</a></div>
            </center>
        </nav>
        <center>
        <footer>&copy; 2024 Copyrights Reserved</footer>
    </center>
    </section>
    <script src="/static/script.js"></script>
</body>
</html>
